= simple_form_for [category, product, review] do |f|
    = f.text_area :content
    = f.input :rating, collection: 1..5, include_blank: false
    .actions
    = f.submit 'Add review', class: 'btn btn-primary'
